/* Follow me for more pens like this! */

/* Center the planet */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #222229;
}
  
.planet {
display: block;
width: 125px;
height: 125px;
position: relative;
transform-style: preserve-3d;
border-radius: 50%;
background: #fcc96b;
background: rgb(252, 201, 107);
background: linear-gradient(
	180deg,
	rgba(252, 201, 107, 1) 0%,
	rgba(252, 201, 107, 1) 15%,
	rgba(247, 174, 1, 1) 15%,
	rgba(247, 174, 1, 1) 19%,
	rgba(252, 201, 107, 1) 19%,
	rgba(252, 201, 107, 1) 22%,
	rgba(247, 174, 1, 1) 22%,
	rgba(247, 174, 1, 1) 28%,
	rgba(252, 201, 107, 1) 28%,
	rgba(252, 201, 107, 1) 31%,
	rgba(252, 201, 107, 1) 33%,
	rgba(252, 201, 107, 1) 36%,
	rgba(247, 174, 1, 1) 36%,
	rgba(247, 174, 1, 1) 48%,
	rgba(252, 201, 107, 1) 48%,
	rgba(252, 201, 107, 1) 55%,
	rgba(247, 174, 1, 1) 55%,
	rgba(247, 174, 1, 1) 66%,
	rgba(252, 201, 107, 1) 66%,
	rgba(252, 201, 107, 1) 70%,
	rgba(247, 174, 1, 1) 70%,
	rgba(247, 174, 1, 1) 73%,
	rgba(252, 201, 107, 1) 73%,
	rgba(252, 201, 107, 1) 82%,
	rgba(247, 174, 1, 1) 82%,
	rgba(247, 174, 1, 1) 86%,
	rgba(252, 201, 107, 1) 86%
);
box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
	inset 8px -4px 6px rgba(199, 128, 0, 0.5),
	inset -8px 4px 8px rgba(255, 235, 199, 0.5),
	inset 20px -5px 12px #f7ae01,
	0 0 100px rgba(255, 255, 255, 0.35);
transform: rotateZ(-15deg);
animation-duration: 0.8s;
animation-iteration-count: infinite;
animation-fill-mode: both;
animation-name: anim;
}

@keyframes anim {
0% {
	bottom: 0px;
}
50% {
	bottom: 50px;
}
100% {
	bottom: 0px;
}
}
